<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><h2>Proyecto Final</h2></a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable bg-dark" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class=" navbar-dark bg-dark">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"><i class="fa-solid fa-house"></i>&nbsp;&nbsp;&nbsp;</span> Principal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="comparar" Match="NavLinkMatch.All">
                <span aria-hidden="true"><i class="fa-solid fa-house"></i>&nbsp;&nbsp;&nbsp;</span> Principal
            </NavLink>
        </div>
    </nav>
</div>

